<!--
  Generated template for the EditarUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating="">Projeto</ion-label>
      <ion-input type="text" [(ngModel)]="this.usuario.projeto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating="">Tempo Gasto</ion-label>
      <ion-input type="text" [(ngModel)]="this.usuario.cronometro"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full round (click)="alterarUsuario()">Alterar</button>
  <button ion-button full round (click)="removeUsuario()">Remover</button>


</ion-content>
