<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-item>
      <ion-label floating="">Projeto</ion-label>
      <ion-input type="text" id="projeto" [(ngModel)]="this.usuario.projeto"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating="">Quanto tempo foi gasto nesta Tarefa?</ion-label>
      <ion-input type="text" id="cronometro" [(ngModel)]="this.usuario.cronometro"  ></ion-input>
    </ion-item>



  </ion-list>

  <!-- <ion-label id="" floating="">{{timer}}</ion-label> -->
  <!--
  <ion-input  id="timer" type="text" disabled="disabled" >{{timer}}</ion-input>
-->
  <!-- <br> -->

  <!--<div id="timer">
    {{timer}}
  </div>
-->
<!--
<ion-card>

  <ion-card-content>


  <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>



  </ion-card-content>
</ion-card>
-->

<!--
  <button id="btnIniciar" ion-button full round (click)="startTimer()" >Inciar Timer</button>
  <button id="btnParar" ion-button full round (click)="stopTimer()" >Parar Timer</button>
-->

  <button id="btnSalvar" ion-button full round (click)="cadastrarUsuario()" >Salvar</button>

<ion-list>
  <ion-item *ngFor="let usuario of items | async" (click)="editarRemover(usuario)">
    <h3>{{usuario.projeto}}</h3>
    <h3>{{usuario.cronometro}}</h3>
  </ion-item>

</ion-list>


</ion-content>
